.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > .active > a,
.about h1 span,
.features h1,
.price-table h1
{
	color: #0043ff;
	
}
.dropdown-menu
{
	
	border-top:3px solid #0043ff;
	
	
}
.dropdown-menu .divider,
.carousel-indicators .active,
.option-box .gear-check
{
	background-color : #0043ff;
}
.option-box .color-option
{	
	border:4px solid #0043ff;	
}
